.adminInfo(style="--info-width: 60px; --info-hide: -60px;")
    .adminInfo__content
        div(title="Github")
            a(href="https://github.com/Mestuss/cuttlefishss" target="_blank")
                img(src="https://mestuss.github.io/images-fonts/images/portfolio/icon/git.png" alt="")
        div(title="Portfolio")
            a(href="https://juno-portfolio.com" target="_blank")
                img(src="https://www.flaticon.com/kr/premium-icon/icons/svg/1886/1886511.svg" alt="")