header
    .logo(title="Top")
      img(src="https://mestuss.github.io/images-fonts/images/cuttlefish/cuttlefishss_single.png" alt="")
      span Cuttlefishss
    nav.nav
      .nav__item.start
        span START
      .nav__item
        span BUTTON
      .nav__item
        span CARD
