header
    .logo(title="Top")
      img(src="./images/logo.png" alt="")
      span Cuttlefishss
    nav.nav
      .nav__item.start
        span START
      .nav__item
        span BUTTON
      .nav__item
        span CARD
