main
    h1 Design Cases
    article(style="--columns:4;--article-c:#5ba0fa;")
        include ./buttons/buttonType1
        include ./buttons/buttonType2
        include ./buttons/buttonType3
        include ./buttons/buttonType4
    article(style="--columns:1;--article-c:#ff6b6b;")
        include ./cards/cardType1
        include ./cards/cardType2