h1 Design Cases
article.designCased#button(style="--columns: 4; --article-c: #5ba0fa;")
    include ./buttons/type1
    include ./buttons/type2
    include ./buttons/type3
    include ./buttons/type4
article.designCase#card(style="--columns: 1; --article-c: #ff6b6b;")
    include ./cards/type1
    include ./cards/type2
    include ./cards/type3