summary
    img(src="./images/cuttlefishss.png" alt="")
    br
    br
    h1#start Get Started
    br
    h2 Step 1
    span
        | 👇 Copy and paste it into the
        |
        strong head
        |
        | tag 👇
    code.cuttleItem
    hr
    h2 Step 2
    img.usage-code(src="./images/usage.gif" alt="" style="border-radius: 10px;")
    hr
    h2 Step 3
    span
      div
        | ▪ Modify the
        |
        strong innerText
        |
        | of each tag
      div
        | ▪ Modify the value of
        |
        strong "--sample:value"
        |
        | within the style properties
      div
        | ▪ Modify the value of
        |
        strong src attribute
        |
        | within the img tag
    br
    .process
      div
        h4 Code
        img(src="./images/step_3_1.jpeg" alt="")
      span 👉
      div
        h4 Result
        img(src="./images/step_3_2.jpeg" alt="")
    br
    br