/* cuttlefishss */
:root {
    /* button type 1 */
    --btnType1-L1: #ffffff;
    --btnType1-L2: #000000;

    /* button type 2 */
    --btnType2: #ffffff;
    --btnType2-c: #000000;
}


/* button type 1 */
.btnType1 {
    color: white;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 16px 35px;
    transition: all 0.2s linear;
    cursor: pointer;
    font-weight: 600;
    width: fit-content;
    margin: 5px 0;
    background-image: linear-gradient(to right,var(--btnType1-L1), var(--btnType1-L2));
}

.btnType1:hover {
    transform: translateY(-3px);
    box-shadow: 0px 3px 6px #a7a6a6cb;
}

.btnType1:active{
    opacity: 0.7;
    transform: translateY(0px);
    box-shadow: none;
}

/* button type 2 */

.btnType2 {
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 14px 40px;
    transition: all 0.25s linear;
    cursor: pointer;
    font-weight: 600;
    width: fit-content;
    margin: 5px 0;
    background-color: var(--btnType2);
}

.btnType2:hover {
    border-radius: 30px;
    background-color: var(--btnType2-c);
}

.btnType2:active {
    opacity: 0.6;
}