<!DOCTYPE html>
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="style.css")
        title Cuttlefishss

    body
        include ./partials/header
        include ./partials/summary
        include ./partials/main
        include ./partials/footer
        div#jsModal.modal
            span Copied!
        script(src="main.js")