/* cuttlefishss */
:root {
  /* button type 1 */
  --btnType1-L1: #ffffff;
  --btnType1-L2: #000000;

  /* button type 2 */
  --btnType2: #ffffff;
  --btnType2-c: #000000;

  /* button type 3 */
  --btnType3-L1: #ffffff;
  --btnType3-L2: #000000;

  /* button type 4 */
  --btnType4-c: #000000;

  /* card type 1 */
  --width-size: 200px;
  --height-size: 200px;
  --card-btn: #ffffff;

  /* card type 3 */
  --card3-width: 0px;
  --card3-height: 0px;
  --card3-img-size: 0px;
  --card3-btn: #ffffff;
  --card3-img-bg: #ffffff;
}

/* button type 1 */
.btnType1 {
  color: white;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 16px 35px;
  transition: all 0.2s linear;
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
  margin: 5px 0;
  background-image: linear-gradient(
    to right,
    var(--btnType1-L1),
    var(--btnType1-L2)
  );
}

.btnType1:hover {
  transform: translateY(-3px);
  box-shadow: 0px 3px 6px #a7a6a6cb;
}

.btnType1:active {
  opacity: 0.7;
  transform: translateY(0px);
  box-shadow: none;
}

/* button type 2 */

.btnType2 {
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 14px 40px;
  transition: all 0.25s linear;
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
  margin: 5px 0;
  background-color: var(--btnType2);
}

.btnType2:hover {
  border-radius: 30px;
  background-color: var(--btnType2-c);
}

.btnType2:active {
  opacity: 0.6;
}

/* button type 3 */

.btnType3 {
  color: white;
  outline: none;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 14px 35px;
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
  margin: 5px 0;
  transform: skew(-18deg);
  background-image: linear-gradient(
    to right,
    var(--btnType3-L1) 0%,
    var(--btnType3-L2) 0%
  );
  transition: all 0.3s linear;
}

.btnType3:hover {
  animation: filling 0.3s ease-out forwards;
}

.btnType3:active {
  opacity: 0.5;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

@keyframes filling {
  0% {
    background-image: linear-gradient(
      to right,
      var(--btnType3-L1) 0%,
      var(--btnType3-L2) 10%
    );
  }
  10% {
    background-image: linear-gradient(
      to right,
      var(--btnType3-L1) 10%,
      var(--btnType3-L2) 20%
    );
  }
  20% {
    background-image: linear-gradient(
      to right,
      var(--btnType3-L1) 20%,
      var(--btnType3-L2) 30%
    );
  }
  30% {
    background-image: linear-gradient(
      to right,
      var(--btnType3-L1) 30%,
      var(--btnType3-L2) 40%
    );
  }
  40% {
    background-image: linear-gradient(
      to right,
      var(--btnType3-L1) 40%,
      var(--btnType3-L2) 50%
    );
  }
  50% {
    background-image: linear-gradient(
      to right,
      var(--btnType3-L1) 50%,
      var(--btnType3-L2) 60%
    );
  }
  60% {
    background-image: linear-gradient(
      to right,
      var(--btnType3-L1) 60%,
      var(--btnType3-L2) 70%
    );
  }
  70% {
    background-image: linear-gradient(
      to right,
      var(--btnType3-L1) 70%,
      var(--btnType3-L2) 80%
    );
  }
  80% {
    background-image: linear-gradient(
      to right,
      var(--btnType3-L1) 80%,
      var(--btnType3-L2) 90%
    );
  }
  90% {
    background-image: linear-gradient(
      to right,
      var(--btnType3-L1) 90%,
      var(--btnType3-L2) 100%
    );
  }
  100% {
    background-image: linear-gradient(
      to right,
      var(--btnType3-L1) 100%,
      var(--btnType3-L2) 100%
    );
  }
}

/* button type 4 */
.btnType4 {
  color: var(--btnType4-c);
  outline: none;
  border: 1px solid var(--btnType4-c);
  border-radius: 5px;
  padding: 14px 40px;
  transition: all 0.25s linear;
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
  margin: 5px 0;
  background-color: white;
}

.btnType4:hover {
  background-color: var(--btnType4-c);
  color: white;
}

.btnType4:active {
  opacity: 0.5;
}

/* card type 1 */

.cardType1,
.cardType2 {
  width: var(--width-size);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.cardType1:hover .cardType1__img > img,
.cardType2:hover .cardType2__img > img {
  transform: scale(1.1);
}

.cardType1.cuttleItem,
.cardType2.cuttleItem {
  cursor: pointer;
  margin: 0 10px;
}

.cuttleItem a {
  pointer-events: none;
}

.cardType1__img,
.cardType2__img {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.cardType1__img > img,
.cardType2__img > img {
  width: 100%;
  height: var(--height-size);
  float: left;
  transition: all 0.2s linear;
}

.cardType1 > .cardType1__contents,
.cardType2 > .cardType2__contents {
  width: 100%;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.cardType1__title,
.cardType2__title {
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 5px;
}

.cardType1__explain,
.cardType2__explain {
  color: rgb(90, 90, 90);
  font-size: 15px;
}

.cardType1__btn,
.cardType2__btn {
  margin-top: 20px;
  align-self: flex-end;
  outline: none;
  border: none;
  color: white;
  background-color: var(--card-btn);
  font-size: 17px;
  font-weight: 600;
  padding: 13px 25px;
  text-decoration: none;
  transition: opacity 0.2s linear;
}

.cardType1__btn:active,
.cardType2__btn:active {
  opacity: 0.6;
}

/* card type 2 */

.cardType2 {
  border-radius: 15px;
  overflow: hidden;
}

.cardType2 > .cardType2__contents {
  margin-top: -20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 3;
}

.cardType2__btn {
  border-radius: 10px;
}

/* card type 3 */

.cardType3.cuttleItem {
  cursor: pointer;
  margin: 0 20px;
}

.cardType3 {
  width: var(--card3-width);
  height: var(--card3-height);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
}

.cardType3:hover .cardType3__img > .cardType3__img__bg {
  background-color: var(--card3-img-bg);
}

.cardType3__img {
  min-width: var(--card3-img-size);
  min-height: var(--card3-img-size);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  margin-left: -40px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 7px #9e9e9e;
  overflow: hidden;
  position: relative;
}

.cardType3__img .cardType3__img__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: all 0.2s linear;
}

.cardType3__img > img {
  height: 100%;
}

.cardType3__contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.contents3__contaniner .cardType3__semiTitle {
  font-size: 11px;
  font-weight: 600;
  color: #b2bec3;
}

.contents3__contaniner .cardType3__title {
  color: black;
  font-weight: 900;
  font-size: 19px;
  margin: 4px 0;
}

.contents3__contaniner .cardType3__explain {
  font-size: 13px;
}

.cardType3__contents > .cardType3__btn {
  width: fit-content;
  border-radius: 20px;
  background-color: var(--card3-btn);
  text-decoration: none;
  padding: 5px 15px;
  color: white;
  font-size: 13px;
  font-weight: 700;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.cardType3__contents > .cardType3__btn:active {
  opacity: 0.7;
}
