@import "./cuttlefish.css";

:root {
  --columns: 0;
  --direction: row;
  --article-c: #ffffff;
  --info-hide: 0px;
  --info-width: 0px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffffee;
  box-sizing: border-box;
  padding: 0 40px;
  border-bottom: 0.1px solid #d8d8d8;
}

header > .logo {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 23px;
  text-decoration: none;
  color: #464646;
  cursor: pointer;
}

header > .logo > img {
  width: 40px;
  margin: 10px 20px;
}

header > nav {
  display: flex;
  height: 100%;
}

header > nav > .nav__item {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 5px;
  padding: 0 5px;
  box-sizing: border-box;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  transition: all 0.3s linear 0.12s;
  cursor: pointer;
}

nav > .nav__item.active,
nav > .nav__item.hover {
  border-bottom: 4px solid #6334a2;
}

nav > .nav__item > span {
  font-weight: 600;
}

nav > .nav__item.start > span {
  color: #6334a2;
  font-weight: 900;
}

summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  padding: 10px;
  box-sizing: border-box;
}

summary > img {
  width: 400px;
}

summary > span {
  margin-bottom: 10px;
}

summary > code {
  background-color: #d4d4d4;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
  margin-bottom: 20px;
}

summary > .process {
  display: flex;
  align-items: center;
  gap: 50px;
}

summary > .process > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

summary > .process img {
  width: auto;
  height: 300px;
}

summary > .process > span {
  margin: 0 10px;
  margin-top: 50px;
  font-size: 30px;
}

code:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 5px #969696;
}

code:active {
  transform: translateY(0px);
  box-shadow: none;
}

code::before {
  content: "<link rel='stylesheet' href='https://cuttleman.github.io/cuttlefishss/cuttlefish.min.css'>";
}

summary > .usage-code {
  max-width: 680px;
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  width: 70%;
  display: grid;
  margin: 10px 0;
  grid-template-columns: repeat(var(--columns), 1fr);
  justify-items: center;
  grid-gap: 10px;
}

section {
  width: fit-content;
  background-color: #f0f0f0;
  margin: 15px 0;
  border-radius: 10px;
}

section > .title {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background-color: var(--article-c);
  color: white;
  font-size: 25px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

section > .sample {
  width: 100%;
  display: flex;
  flex-direction: var(--direction);
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}

body > .modal {
  width: fit-content;
  height: fit-content;
  position: absolute;
  background-color: #2e2e2eaf;
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  display: none;
  font-size: 10px;
}

body > .modal > span {
  font-weight: 600;
}

body > .modal.show {
  display: block;
  animation: modal 0.2s linear;
}

footer {
  margin-top: 100px;
  width: 100%;
  height: 30px;
  background-color: #6334a2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > .copyright {
  font-size: 13px;
}

@keyframes modal {
  from {
    transform: scale(1.15);
    opacity: 0.6;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
