section
    .title Card 1
    .sample
        .cardType1.cuttleItem(style="--width-size:300px;")
            .cardType1__img(style="--height-size:200px;")
                img(src="images/sample1.png" alt="")
            .cardType1__contents
                .cardType1__title Title
                .cardType1__explain Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis accusamus quisquam ea delectus beatae sit, dolor tenetur, doloremque.
                a.cardType1__btn(href="" style="--card-btn: #c5b660;") Button
        .cardType1.cuttleItem(style="--width-size:300px; --height-size:200px;")
            .cardType1__img
                img(src="images/sample2.png" alt="")
            .cardType1__contents
                .cardType1__title Title
                .cardType1__explain Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis accusamus quisquam ea delectus beatae sit, dolor tenetur, doloremque.
                a.cardType1__btn(href="" style="--card-btn: #e7a782;") Button
        .cardType1.cuttleItem(style="--width-size:300px; --height-size:200px;")
            .cardType1__img
                img(src="https://upload.wikimedia.org/wikipedia/commons/c/c5/42-EastTimor-Dive_1_Tasi-Tolu_41_%28Cuttle-Fish%29-APiazza.JPG"
                    alt="")
            .cardType1__contents
                .cardType1__title Title
                .cardType1__explain Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis accusamus quisquam ea delectus beatae sit, dolor tenetur, doloremque.
                a.cardType1__btn(href="" style="--card-btn: #ee9ee3;") Button