section
    .title Card 3
    .sample
        .cardType3.cuttleItem(style="--card3-width: 430px; --card3-height: 220px;")
            .cardType3__img
                .cardType3__img__bg(style="--card3-img-bg: #c5b66080;")
                img(src="/images/cuttlefish_1.jpeg" style="--card3-img-size: 170px;" alt="")
            .cardType3__contents.contents3
                .contents3__contaniner
                    .cardType3__semiTitle Semi title
                    .cardType3__title Title
                    .cardType3__explain Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis accusamus quisquam.
                a.cardType3__btn(href="" style="--card3-btn: #c5b660;") Button
        .cardType3.cuttleItem(style="--card3-width: 430px; --card3-height: 220px;")
            .cardType3__img
                .cardType3__img__bg(style="--card3-img-bg: #ee525380;")
                img(src="/images/cuttlefish_2.jpeg" style="--card3-img-size: 170px;" alt="")
            .cardType3__contents.contents3
                .contents3__contaniner
                    .cardType3__semiTitle Semi title
                    .cardType3__title Title
                    .cardType3__explain Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis accusamus quisquam.
                a.cardType3__btn(href="" style="--card3-btn: #ee5253;") Button
            