section
    .title Card 2
    .sample
        .cardType2.cuttleItem(style="--width-size: 300px;")
            .cardType2__img(style="--height-size: 200px;")
              img(src="https://front-juno.github.io/images-fonts/images/cuttlefish/sample1.png" alt="")
            .cardType2__contents
                .cardType2__title Title
                .cardType2__explain Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis accusamus quisquam ea delectus beatae sit, dolor tenetur, doloremque.
                a.cardType2__btn(href="" style="--card-btn: #c5b660;") Button
        .cardType2.cuttleItem(style="--width-size: 300px; --height-size: 200px;")
            .cardType2__img
                img(src="https://front-juno.github.io/images-fonts/images/cuttlefish/sample2.png" alt="")
            .cardType2__contents
                .cardType2__title Title
                .cardType2__explain Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis accusamus quisquam ea delectus beatae sit, dolor tenetur, doloremque.
                a.cardType2__btn(href="" style="--card-btn: #e7a782;") Button
        .cardType2.cuttleItem(style="--width-size: 300px; --height-size: 200px;")
            .cardType2__img
                img(src="https://front-juno.github.io/images-fonts/images/cuttlefish/sample3.png" alt="")
            .cardType2__contents
                .cardType2__title Title
                .cardType2__explain Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis accusamus quisquam ea delectus beatae sit, dolor tenetur, doloremque.
                a.cardType2__btn(href="" style="--card-btn: #ee9ee3;") Button