section
    .title Card 1
    .sample
        .cardType1.cuttleItem(style="--width-size: 300px;")
            .cardType1__img
                img(src="images/cuttlefish_1.jpeg" alt="")
            .cardType1__contents
                .cardType1__title Title
                .cardType1__explain Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis accusamus quisquam ea delectus beatae sit, dolor tenetur, doloremque.
                a.cardType1__btn(href="" style="--card-btn: #c5b660;") Button
        .cardType1.cuttleItem(style="--width-size: 300px; --height-size: 200px;")
            .cardType1__img
                img(src="images/cuttlefish_2.jpeg" alt="")
            .cardType1__contents
                .cardType1__title Title
                .cardType1__explain Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis accusamus quisquam ea delectus beatae sit, dolor tenetur, doloremque.
                a.cardType1__btn(href="" style="--card-btn: #e7a782;") Button
        .cardType1.cuttleItem(style="--width-size: 300px; --height-size: 200px;")
            .cardType1__img
                img(src="images/cuttlefish_3.jpeg"
            alt="")
            .cardType1__contents
                .cardType1__title Title
                .cardType1__explain Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis accusamus quisquam ea delectus beatae sit, dolor tenetur, doloremque.
                a.cardType1__btn(href="" style="--card-btn: #ee9ee3;") Button