section
    .title Button 4
    .sample(style="--direction:column")
        button.btnType4.cuttleItem(style="--btnType4-c:#504f4f;")
            span Button
        button.btnType4.cuttleItem(style="--btnType4-c:#e23d3d;")
            span Button
        button.btnType4.cuttleItem(style="--btnType4-c:#3c98e4;")
            span Button
        button.btnType4.cuttleItem(style="--btnType4-c:rgb(243, 202, 115);")
            span Button
        button.btnType4.cuttleItem(style="--btnType4-c:#bc5ce2;")
            span Button
        button.btnType4.cuttleItem(style="--btnType4-c:#5dcfad;")
            span Button