section
    .title Button 2
    .sample(style="--direction:column")
        button.btnType2.cuttleItem(style="--btnType2:#52a5ff; --btnType2-c: #00438a;") Button
        button.btnType2.cuttleItem(style="--btnType2:#ffae52; --btnType2-c: #8a6500;") Button
        button.btnType2.cuttleItem(style="--btnType2:#f84949; --btnType2-c: #8a0000;") Button
        button.btnType2.cuttleItem(style="--btnType2:#40f058; --btnType2-c: #008a45;") Button
        button.btnType2.cuttleItem(style="--btnType2:#9452ff; --btnType2-c: #40008a;") Button
        button.btnType2.cuttleItem(style="--btnType2:#9b9b9b; --btnType2-c: #414141;") Button