section
    div.title Button 1
    div.sample(style="--direction: column;")
        button.btnType1.cuttleItem(style="--btnType1-L1: #94ddfa; --btnType1-L2: #4444f5;") Button
        button.btnType1.cuttleItem(style="--btnType1-L1: #f7d986; --btnType1-L2: #fd568e;") Button
        button.btnType1.cuttleItem(style="--btnType1-L1: #d58bf8; --btnType1-L2: #5d0292;") Button
        button.btnType1.cuttleItem(style="--btnType1-L1: #818181; --btnType1-L2: #303030;") Button
        button.btnType1.cuttleItem(style="--btnType1-L1: #5fbdfc; --btnType1-L2: #64f5a0;") Button
        button.btnType1.cuttleItem(style="--btnType1-L1: #fcec63; --btnType1-L2: #fd693c;") Button