section
    .title Button 3
    .sample(style="--direction: column;")
        button.btnType3.cuttleItem(style="--btnType3-L1: #db5212; --btnType3-L2: #f76f6f;") Button
        button.btnType3.cuttleItem(style="--btnType3-L1: #6dc9da; --btnType3-L2: #77dac9;") Button
        button.btnType3.cuttleItem(style="--btnType3-L1: #5045ec; --btnType3-L2: #5ca2f1;") Button
        button.btnType3.cuttleItem(style="--btnType3-L1: #b175ac; --btnType3-L2: #e984bf;") Button
        button.btnType3.cuttleItem(style="--btnType3-L1: #dfbf0c; --btnType3-L2: #ebab77;") Button
        button.btnType3.cuttleItem(style="--btnType3-L1: #b6e65e; --btnType3-L2: #c8f58d;") Button